doctype 5
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/foundation.min.css')

  body
    .container
      form
        .row
          .small-12.medium-8.medium-centered.large-6.large-centered.columns
            .row
              .small-12.columns
                input(type='text',placeholder='0',disabled)
            .row
              .small-3.columns
                button.small-12 C
              .small-3.columns
                button.small-12 &plusmn;
              .small-3.columns
                button.small-12 &divide;
              .small-3.columns
                button.small-12 &times;
            .row
              .small-3.columns
                button.small-12 7
              .small-3.columns
                button.small-12 8
              .small-3.columns
                button.small-12 9
              .small-3.columns
                button.small-12 &minus;
            .row
              .small-3.columns
                button.small-12 4
              .small-3.columns
                button.small-12 5
              .small-3.columns
                button.small-12 6
              .small-3.columns
                button.small-12 &plus;
            .row
              .small-3.columns
                button.small-12 1
              .small-3.columns
                button.small-12 2
              .small-3.columns
                button.small-12 3
              .small-3.columns
                button.small-12 =
            .row
              .small-6.columns
                button.small-12 0
              .small-6.columns
                button.small-12 &dot;

