doctype 5
html(ng-app='Calculator')
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/foundation.min.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/lodash.js')
    script(src='/javascripts/calculator.js')

  body(ng-controller='Main')
    .container
      form(ng-submit='calculate(data)')
        .row
          .small-12.medium-8.medium-centered.large-6.large-centered.columns
            .row
              .small-12.columns
                input(type='text',placeholder='0',ng-model='data')
            .row
              .small-12.columns.history
                ul
                  li(ng-repeat='item in history')
                    {{item}}

